<html>
    <head>
        <title>Aprendendo NodeJS com o GoNode</title>
    </head>
    <body>
        <form action="/auth" method="POST">
            <input type="text" name="username" />
            <input type="password" name="password" />
            <button type="submit">Logar</button>
        </form>
    </body>
</html>